<script>
  let orderCost = {{ order.cost }};
  let orderQuantity = {{ order.quantity }};
  let individualCost = Number(orderCost / orderQuantity);
  console.log(individualCost);
  let orderSubteam = `{{{order.subteam}}}`;
  window.onload = () => {
    let teams = document.getElementById('chooseSubteam').children;
    document.getElementById('orderIndCost').value = individualCost;
    for (let i = 0; i < teams.length; i++) {
      console.log(`Order subteam = ${orderSubteam} || Team ID = ${teams[i].id}`);
      if (orderSubteam === `${teams[i].id}`) {
        teams[i].setAttribute('selected', 'selected');
      }
    }
  }
</script>
<h1>Edit Order</h1>
<form id="editForm" action="/orders/edit" method="POST">
  <div class="form-row">
    <div class="form-group col-auto">
      <label>Requestor:</label>
      <input class="form-control" name="requestor" type="text" value="{{order.requestor}}" readonly>
    </div>
    <div class="form-group col-auto">
      <label>Subteam</label>
      {{> teamsDropdown}}
    </div>
  </div>
  <div class="form-row">
    <div class='form-group col-auto'>
      <label>Item</label>
      <input class="form-control" name="item" type="text" value="{{order.item}}">
    </div>
    <div class="form-group col-auto">
      <label>Supplier</label>
      <input class="form-control" name="supplier" type="text" value="{{order.supplier}}">
    </div>
    <div class="form-group col-auto">
      <label>Product Number</label>
      <input class="form-control" name="productNum" value="{{order.productNum}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-auto">
      <label>Quantity</label>
      <input class="form-control" name="quantity" type="number" value="{{order.quantity}}">
    </div>
    <div class="form-group col-auto">
      <label><b>Individual</b> Cost</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input class="form-control" aria-describedby="costHelp" name="cost" type="number" id="orderIndCost" step=".01"
          min="0">
        <small id="costHelp" class="form-text text-muted">Remember to update with actual cost</small>
      </div>
    </div>
  </div>
  </div>
  <div class="form-row">
    <div class="form-group col-auto">
      <label>Tracking Number</label>
      <input class="form-control" name="trackingNum" type="text" value="{{order.trackingNum}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-auto">
      <label for="link">Link to Purchase</label>
      <input class="form-control" type="text" name="link" id="link" value="{{order.link}}">
    </div>
    {{#if order.link}}
    <div class="form-group col-auto">
      <a target="_blank" href="{{order.link}}">Click here to Visit Link</a>
    </div>
    {{/if}}
  </div>
  <div class="form-row">
    <label>Comments:</label>
    <textarea class="form-control" type="text" name="comments">{{order.comments}}</textarea>
  </div>
  <input style="display: none" name="id" value="{{order._id}}">
  <div class="form-row">
    <div class="form-group">
      <button class="btn btn-success" type="submit">Edit Order</button>
      <a class="btn btn-danger" href="/orders/cancel?q={{order._id}}">Cancel Order</a>
    </div>
  </div>
</form>
<div id="status">
  <h3>Status</h3>
  {{#if order.isApproved}}
  <h3><small>Order Approved</small></h3>
  {{#if order.isOrdered}}
  <h3><small>Item(s) Ordered</small></h3>
  {{else}}
  <h3><small>Item(s) pending order</small></h3>
  {{/if}}
  {{else}}
  <h3><small>Order pending approval</small></h3>
  {{/if}}
</div>
<div id="adminButtons">
  {{#if user.isFSC}}
  {{#if order.isApproved}}
  <a href="/orders/place/{{order._id}}"><button>I am ordering this</button></a>
  {{/if}}
  {{/if}}
  {{#if user.isAdmin}}
  {{#unless order.isApproved}}
  <a href="/orders/approve/{{order._id}}"><button>Approve Order</button></a>
  {{/unless}}
  {{/if}}
</div>
