<h1><small>Welcome {{user.name}}</small></h1>
<h3><small>{{#if user.isFSC}} FSC Member {{/if}} {{#if user.isAdmin}} Executitive Team Member {{/if}}</small></h3>
<form class="form-inline md-form form-sm active-red active-red-2 mt-2" method="POST" action="/orders/view">
  <i class="material-icons" aria-hidden="true">search</i>
  <input name="search" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search Items, Names, Part Numbers and More" aria-label="Search">
</form>
{{#each orders}}
<div class="card">
  <div class="container">
    <h2><b>{{this.item}}</b></h2>
    <ul>
      <li><b>Requestor</b>: {{this.requestor}}</li>
      <li><b>Subteam</b>: {{this.subteam}}</li>
      <li><b>Supplier</b>: {{this.supplier}}</li>
      <li><b>Product Number</b>: {{this.productNum}}</li>
      <li><b>Quantity</b>: {{this.quantity}}</li>
      <li><b>Cost</b>: ${{this.cost}}</li>
      {{#if this.trackingNum}}
      <li><b>Tracking Number</b>: {{this.trackingNum}}</li>
      {{/if}}
    </ul>
    {{#if this.comments}}
    <h2><small>Comments</small></h2>
    <p>{{this.comments}}</p>
    {{/if}}
    <h3>Status</h3>
    <ul>
    {{#if this.isApproved}}
    <li>Order Approved</li>
    {{#if this.isOrdered}}
    <li>Item(s) Ordered by {{this.purchaser}} on {{this.dateOrdered}}</li>
    {{else}}
    <li>Item(s) need to be ordered</li>
    {{/if}}
    {{else}}
    <li>Order Awaiting Approval</li>
    {{/if}}
    </ul>
    <a href="/orders/edit/{{this._id}}"><button>Edit/Update Order</button></a>
  </div>
</div>
{{/each}}

{{#unless orders}}
<h1>No Orders Found</h1>
{{/unless}}
